In [1]:
import pandas as pd

In [2]:
org = pd.read_csv('../eurostat/raw_culture.csv')

In [3]:
org.columns

Index(['ACL00', 'GEO', 'FREQUENC', 'TIME', 'ISCED11', 'AGE', 'SEX', 'UNIT',
       'Value'],
      dtype='object')

In [4]:
org.head()

,ACL00,GEO,FREQUENC,TIME,ISCED11,AGE,SEX,UNIT,Value
0,Cinema,Belgium,At least 4 times,2015,All ISCED 2011 levels,16 years or over,Total,Percentage,22.7
1,Cinema,Bulgaria,At least 4 times,2015,All ISCED 2011 levels,16 years or over,Total,Percentage,8.6
2,Cinema,Czechia,At least 4 times,2015,All ISCED 2011 levels,16 years or over,Total,Percentage,16.6
3,Cinema,Denmark,At least 4 times,2015,All ISCED 2011 levels,16 years or over,Total,Percentage,21.5
4,Cinema,Germany (until 1990 former territory of the FRG),At least 4 times,2015,All ISCED 2011 levels,16 years or over,Total,Percentage,15.8

In [5]:
df = org[['ACL00', 'GEO', 'Value']]
df.columns = ['activity', 'country', 'value']
df.loc[df['country'] == 'Germany (until 1990 former territory of the FRG)', 'country'] = 'Germany'
df = df.sort_values('country').reset_index(drop=True)
print(df.shape)
df.head()

(132, 3)

/home/mccastles/miniconda3/envs/data/lib/python3.7/site-packages/pandas/core/indexing.py:494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

                                            activity  country  value
0      Live performances (theatre, concerts, ballet)  Austria   21.8
1                                             Cinema  Austria   19.3
2  Cultural sites (historical monuments, museums,...  Austria   15.8
3                                      Sports events  Austria   16.7
4  Cultural sites (historical monuments, museums,...  Belgium   19.6

In [6]:
df = df.pivot(index='country', columns='activity', values='value')

In [7]:
df.head()

activity,Cinema,"Cultural sites (historical monuments, museums, art galleries or archaeological sites)","Live performances (theatre, concerts, ballet)",Sports events
country,,,,
Austria,19.3,15.8,21.8,16.7
Belgium,22.7,19.6,20.3,19.6
Bulgaria,8.6,4.5,6.7,6.9
Croatia,9.2,5.1,10.0,11.8
Cyprus,7.9,4.0,11.3,12.2

In [12]:
df = pd.DataFrame(round(df.mean(axis=1), 2), columns=['culture_percent'])

In [13]:
df.head()

          culture_percent
country
Austria             18.40
Belgium             20.55
Bulgaria             6.68
Croatia              9.02
Cyprus               8.85

In [15]:
# df.to_csv('../data/culture.csv')
df.to_excel('../data/culture.xlsx')