In [1]:
import pandas as pd

In [2]:
org = pd.read_csv('../eurostat/raw_health_estimate.csv')

In [3]:
org.columns

Index(['TIME', 'GEO', 'SEX', 'AGE', 'CITIZEN', 'LEV_PERC', 'UNIT', 'Value'], dtype='object')

In [4]:
org.head()

,TIME,GEO,SEX,AGE,CITIZEN,LEV_PERC,UNIT,Value
0,2016,Belgium,Total,16 years or over,Reporting country,Very good,Percentage,29.6
1,2016,Belgium,Total,16 years or over,Reporting country,Good,Percentage,44.2
2,2016,Belgium,Total,16 years or over,Reporting country,Very good or good,Percentage,73.7
3,2016,Bulgaria,Total,16 years or over,Reporting country,Very good,Percentage,19.0
4,2016,Bulgaria,Total,16 years or over,Reporting country,Good,Percentage,46.8

In [5]:
df = org[ (org['TIME'] == 2018) & (org['LEV_PERC'] == 'Very good or good')][['GEO', 'Value']]
df.columns = ['country', 'value']
# df = df[df['health'] == '']
df.loc[df['country'] == 'Germany (until 1990 former territory of the FRG)', 'country'] = 'Germany'
df = df.sort_values('country')
df.head()
df

             country value
164          Austria  71.4
107          Belgium  74.5
110         Bulgaria  66.4
137          Croatia  60.7
143           Cyprus  76.3
113          Czechia  61.6
116          Denmark  71.3
122          Estonia  54.6
182          Finland  68.7
134           France  67.8
119          Germany  64.8
128           Greece  75.8
155          Hungary  60.8
191          Iceland     :
125          Ireland  83.6
140            Italy  72.2
146           Latvia  50.6
149        Lithuania  44.1
152       Luxembourg  67.7
158            Malta  74.4
200       Montenegro     :
161      Netherlands  75.7
203  North Macedonia     :
194           Norway  75.8
167           Poland  59.1
170         Portugal  49.0
173          Romania  70.6
206           Serbia  56.4
179         Slovakia  66.7
176         Slovenia  65.1
131            Spain  73.1
185           Sweden  75.4
197      Switzerland  81.4
209           Turkey     :
188   United Kingdom  70.6

In [6]:
df[df['value'] == ':']['country']

191            Iceland
200         Montenegro
203    North Macedonia
209             Turkey
Name: country, dtype: object

In [7]:
for c in df[df['value'] == ':']['country']:

    v = org[ (org['TIME'] == 2016) & (org['GEO'] == c) & (org['LEV_PERC'] == 'Very good or good')]['Value']
    
    df.loc[df['country'] == c, 'value'] = float(v)
    
df[df['value'] == ':']

Empty DataFrame
Columns: [country, value]
Index: []

In [8]:
df = df.set_index('country')
df.columns=['health']

In [9]:
df

                health
country
Austria           71.4
Belgium           74.5
Bulgaria          66.4
Croatia           60.7
Cyprus            76.3
Czechia           61.6
Denmark           71.3
Estonia           54.6
Finland           68.7
France            67.8
Germany           64.8
Greece            75.8
Hungary           60.8
Iceland           75.8
Ireland           83.6
Italy             72.2
Latvia            50.6
Lithuania         44.1
Luxembourg        67.7
Malta             74.4
Montenegro        69.2
Netherlands       75.7
North Macedonia   78.5
Norway            75.8
Poland            59.1
Portugal          49.0
Romania           70.6
Serbia            56.4
Slovakia          66.7
Slovenia          65.1
Spain             73.1
Sweden            75.4
Switzerland       81.4
Turkey            68.7
United Kingdom    70.6

In [10]:
# df.to_csv('../data/health_estimate.csv')
df.to_excel('../data/health_estimate.xlsx')