In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('../data/population.xlsx', header=0)
df = df.reset_index(drop=True).T.reset_index().T

df.loc[df.iloc[:,0] == 'Germany (until 1990 former territory of the FRG)', 0] = 'Germany'
df.columns = ['country', 'population']
df = df.set_index('country')
print(df.shape)
df.head()

(50, 1)

         population
country
Belgium    11467923
Bulgaria    7000039
Czechia    10649800
Denmark     5806081
Germany    83019213

In [3]:
da = pd.read_excel('../data/happiness.xlsx', header=0, index_col='country')
countries = list(da.index)
countries

['Austria',
 'Belgium',
 'Bulgaria',
 'Croatia',
 'Cyprus',
 'Czechia',
 'Denmark',
 'Estonia',
 'Finland',
 'France',
 'Germany',
 'Greece',
 'Hungary',
 'Iceland',
 'Ireland',
 'Italy',
 'Latvia',
 'Lithuania',
 'Luxembourg',
 'Malta',
 'Netherlands',
 'Norway',
 'Poland',
 'Portugal',
 'Romania',
 'Serbia',
 'Slovakia',
 'Slovenia',
 'Spain',
 'Sweden',
 'Switzerland',
 'Turkey',
 'United Kingdom']

In [4]:
df = df.loc[countries,:]
print(df.shape)
df.head()

(33, 1)

         population
country
Austria     8858775
Belgium    11467923
Bulgaria    7000039
Croatia     4076246
Cyprus       875898

In [5]:
for feat in ['happiness', 'bad_conditions', 'culture', 'health_estimate']:
    
    da = pd.read_excel(f'../data/{feat}.xlsx', header=0, index_col='country')    
    da = da.loc[countries,:]    
    df[feat] = da.iloc[0:]
    
df

/home/mccastles/miniconda3/envs/data/lib/python3.7/site-packages/pandas/core/indexing.py:1418: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#deprecate-loc-reindex-listlike
  return self._getitem_tuple(key)

               population  happiness  bad_conditions  culture  health_estimate
country
Austria           8858775       39.7            10.4    18.40             71.4
Belgium          11467923       21.2            18.0    20.55             74.5
Bulgaria          7000039        9.5            13.0     6.68             66.4
Croatia           4076246       16.5            11.2     9.02             60.7
Cyprus             875898       22.4            30.2     8.85             76.3
Czechia          10649800       29.5             7.7    17.15             61.6
Denmark           5806081       41.3            16.4    15.70             71.3
Estonia           1324820       19.4            13.6    16.78             54.6
Finland           5517919       41.1             4.6    20.88             68.7
France           67028048       18.3            12.7    19.75             67.8
Germany          83019213       28.3            13.4    16.32             64.8
Greece           10722287       13.5            12.9     4.40             75.8
Hungary           9772756       13.1            22.5     9.32             60.8
Iceland            356991       40.5            18.6    30.40             75.8
Ireland           4904226       43.2            11.9    18.65             83.6
Italy            60359546       18.0            13.2     9.98             72.2
Latvia            1919968       15.3            23.5    12.68             50.6
Lithuania         2794184       17.6            14.8     8.82             44.1
Luxembourg         613894       26.3            18.3    25.28             67.7
Malta              493559       26.6             7.1    11.82             74.4
Netherlands      17282163       23.9            15.8    25.22             75.7
Norway            5328212       39.7             6.8    25.65             75.8
Poland           37972812       35.9            11.6     6.48             59.1
Portugal         10276617       18.6            26.9    14.12             49.0
Romania          19401658       24.7            10.1     6.60             70.6
Serbia            6963764        7.5            16.6     7.48             56.4
Slovakia          5450421       27.5             5.1    11.90             66.7
Slovenia          2080908       24.6            22.7    20.40             65.1
Spain            46934632       24.4            15.9    15.35             73.1
Sweden           10230185       35.0             7.8    22.22             75.4
Switzerland       8542323       38.0             9.8    30.85             81.4
Turkey           82003882       15.0            38.1      NaN             68.7
United Kingdom   66647112       31.7            17.7    19.40             70.6

In [6]:
for feat in ['commute', 'education_underachievements', 'minimum_wage', 'unmet_medical_needs']:
    
    da = pd.read_excel(f'../data/{feat}.xlsx', header=0)
    
    da = da.reset_index(drop=True).T.reset_index().T

    da.loc[da.iloc[:,0] == 'Germany (until 1990 former territory of the FRG)', 0] = 'Germany'
    da.columns = ['country', feat]
    
    
    da = da.set_index('country')    
    da = da.loc[countries,:]    
    df[feat] = da.iloc[0:]

In [7]:
df

,population,happiness,bad_conditions,culture,health_estimate,commute,education_underachievements,minimum_wage,unmet_medical_needs
country,,,,,,,,,
Austria,8858775,39.7,10.4,18.40,71.4,39.6,21.6887,1500,0.1
Belgium,11467923,21.2,18.0,20.55,74.5,48.2,19.7985,1501.82,1.8
Bulgaria,7000039,9.5,13.0,6.68,66.4,33.4,40.4566,184.07,1.9
Croatia,4076246,16.5,11.2,9.02,60.7,37.9,25.0215,395.61,1.4
Cyprus,875898,22.4,30.2,8.85,76.3,22.4,39.9681,870,1.4
Czechia,10649800,29.5,7.7,17.15,61.6,35.7,21.4594,331.71,0.3
Denmark,5806081,41.3,16.4,15.70,71.3,48.3,14.8028,3200,1.3
Estonia,1324820,19.4,13.6,16.78,54.6,42.2,10.1469,390,16.4
Finland,5517919,41.1,4.6,20.88,68.7,48.5,12.0186,800,4.7
France,67028048,18.3,12.7,19.75,67.8,44.9,22.3511,1457.52,1.2
Germany,83019213,28.3,13.4,16.32,64.8,45.3,16.7944,1440,0.2
Greece,10722287,13.5,12.9,4.40,75.8,32.6,31.7345,683.76,8.8
Hungary,9772756,13.1,22.5,9.32,60.8,43.5,27.1532,332.76,0.8
Iceland,356991,40.5,18.6,30.40,75.8,NaN,23.6306,2190,2.9
Ireland,4904226,43.2,11.9,18.65,83.6,48.4,13.2778,1461.85,2
Italy,60359546,18.0,13.2,9.98,72.2,28,22.4744,0,2.4
Latvia,1919968,15.3,23.5,12.68,50.6,48.9,18.6769,360,6.2
Lithuania,2794184,17.6,14.8,8.82,44.1,34.4,25.065,300,2.2
Luxembourg,613894,26.3,18.3,25.28,67.7,45.2,25.7664,1922.96,0.3
Malta,493559,26.6,7.1,11.82,74.4,43.4,32.2906,720.46,0.2
Netherlands,17282163,23.9,15.8,25.22,75.7,45.1,17.7496,1501.8,0.2
Norway,5328212,39.7,6.8,25.65,75.8,NaN,16.8271,2744,1.4
Poland,37972812,35.9,11.6,6.48,59.1,35.7,15.923,409.53,4.2
Portugal,10276617,18.6,26.9,14.12,49.0,25.4,19.2406,589.17,2.1
Romania,19401658,24.7,10.1,6.60,70.6,40.3,39.0285,217.5,4.9
Serbia,6963764,7.5,16.6,7.48,56.4,NaN,35.5862,235.04,5.8
Slovakia,5450421,27.5,5.1,11.90,66.7,34.1,30.1098,380,2.6
Slovenia,2080908,24.6,22.7,20.40,65.1,39.9,15.3921,790.73,3.3
Spain,46934632,24.4,15.9,15.35,73.1,36.8,18.7401,756.7,0.2
Sweden,10230185,35.0,7.8,22.22,75.4,50,20.2199,2080,1.5
Switzerland,8542323,38.0,9.8,30.85,81.4,NaN,18.0144,0,0.7
Turkey,82003882,15.0,38.1,NaN,68.7,NaN,45.0603,424.26,2.6
United Kingdom,66647112,31.7,17.7,19.40,70.6,52.5,18.9648,1378.87,4.5

In [8]:
df.to_excel('../data/main.xlsx')